---
import { getAllPost, getAllProjects } from "../../lib/api";
import { urlForImage } from "../../lib/urlForImage";

const posts = await getAllPost();
const projects = await getAllProjects();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <title>My blog</title>
    <h2>bla bla bla</h2>

    <!-- <p>{JSON.stringify(posts)}</p> -->

    <ul>
      {
        projects.map((posts) => (
          <li>
            <img style="width:100px"src={urlForImage(posts.mainImage).url()} />
            {posts.title}
            {posts.body}
          </li>
        ))
      }
    </ul>


    <ul>
      {
      projects.map((projects) => (
          <li>
       
            {projects.title}
            {projects.overview}
            {projects.toolsAndTechnologies}
            {projects.projectGoals}
          </li>
        ))
      }
    </ul>
  </body>
</html>
